@charset "UTF-8";
#oes-me-container {
  /* overlays */
}
#oes-me-container .oes-me {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 1000px;
  height: 1000px;
}
#oes-me-container .oes-me.noscroll {
  overflow: hidden !important;
}
#oes-me-container div {
  width: 0;
  height: 0;
}
#oes-me-container div header,
#oes-me-container div h1,
#oes-me-container div h2,
#oes-me-container div img {
  display: block;
  position: absolute;
  opacity: 0;
  cursor: default;
}
#oes-me-container div,
#oes-me-container div header,
#oes-me-container div h1,
#oes-me-container div h2,
#oes-me-container div p,
#oes-me-container div em,
#oes-me-container #oes-me-center {
  transition-property: top, left, width, height, border-radius, opacity, transform, font-size, color, background-color, line-height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#oes-me-container div h1 a {
  text-decoration: none;
  transition-property: background, opacity;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
}
#oes-me-container div h1 a:focus {
  outline: none;
}
#oes-me-container div header {
  border-radius: 50%;
  background-size: 0% auto;
  opacity: 0;
}
#oes-me-container .sheet header.overicon:hover {
  cursor: pointer;
}
#oes-me-container .bg {
  z-index: 14;
}
#oes-me-container div.hover header {
  z-index: 13;
}
#oes-me-container div.hover h1 {
  z-index: 12;
}
#oes-me-container div.sheet h1 {
  z-index: 11;
}
#oes-me-container div.sheet p {
  z-index: 10;
}
#oes-me-container div.sheet h2 {
  z-index: 10;
}
#oes-me-container div header {
  z-index: 10;
}
#oes-me-container div h1 {
  z-index: 11;
}
#oes-me-container div img {
  z-index: 7;
}
#oes-me-container div p {
  z-index: 6;
}
#oes-me-container div h2 {
  z-index: 4;
}
#oes-me-container div.active h1 {
  z-index: 10;
}
#oes-me-container div.active:hover h1 {
  z-index: 11;
}
#oes-me-container #oes-me-canvas {
  z-index: 3;
}
#oes-me-container div.stage,
#oes-me-container div.stage * {
  z-index: 0 !important;
  opacity: 0 !important;
  transition-property: none !important;
  cursor: default !important;
}
#oes-me-container div {
  opacity: 1;
}
#oes-me-container div header {
  opacity: 1;
}
#oes-me-container div.shown h1, #oes-me-container div.brush h1, #oes-me-container div.shown header {
  opacity: 1;
}
#oes-me-container div.shown:not(.linked):not(.sheet):not(:hover) h1 a {
  opacity: 0.33;
}
#oes-me-container div.blur h1 a {
  opacity: 0.33;
}
#oes-me-container div.brush h1 a {
  opacity: 1 !important;
}
#oes-me-container div.sheet h2 {
  opacity: 1;
}
#oes-me-container div.sheet header em {
  opacity: 1;
}
#oes-me-container .noani,
#oes-me-container .noani * {
  transition-property: none !important;
}
#oes-me-container div.added,
#oes-me-container div.toberemoved {
  display: none;
}
#oes-me-container div header,
#oes-me-container div h1 {
  cursor: pointer;
}
#oes-me-container div.sheet header em {
  overflow: visible;
}
#oes-me-container div.sheet header,
#oes-me-container div.sheet h1 {
  cursor: default;
}
#oes-me-container div.hover header,
#oes-me-container div.hover h1 {
  transition-duration: 0s;
}
#oes-me-container div h1,
#oes-me-container div h2 {
  font-weight: 200;
  font-stretch: normal;
}
#oes-me-container div h1 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-shadow: 0em 0em 0.5em #fff;
}
#oes-me-container div.sheet h1 a:hover {
  background-color: white;
}
#oes-me-container div h1 a {
  display: block;
  line-height: 1em;
  border-radius: 1em;
  padding: 0 0.25em;
  margin: -0.5em -0.25em 0 -0.25em;
}
#oes-me-container div.hover h1 a {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.75) !important;
}
#oes-me-container div h2 {
  text-align: left;
  float: left;
}
#oes-me-container div.sheet h1 a {
  font-weight: bold;
  border-radius: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent !important;
  padding: 0.25em;
  margin: -0.75em -0.25em 0 -0.25em;
}
#oes-me-container div.sheet h1 a:hover {
  overflow: visible;
  text-overflow: ellipsis;
  text-decoration: underline;
  cursor: pointer;
}
#oes-me-container div.sheet p {
  transition-property: opacity;
  transition-duration: 0.75s;
  transition-delay: 1.5s;
  background: #fff;
}
#oes-me-container div.sheet.left a {
  transform: translate(50%, 0);
}
#oes-me-container div.sheet.right a {
  transform: translate(-50%, 0);
}
#oes-me-container div.sheet header {
  background-size: 100% auto;
}
#oes-me-container div.sheet header em {
  display: block;
  opacity: 1;
  width: 100px;
}
#oes-me-container div header em {
  opacity: 0;
  width: 0;
  font-style: normal;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
#oes-me-container div h2, #oes-me-container div p {
  text-align: left;
}
#oes-me-container div.hover h1 {
  opacity: 1 !important;
}
#oes-me-container div.brush h1 {
  opacity: 1 !important;
}
#oes-me-container .oes-me div.tobehidden {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#oes-me-container .oes-me div.tobeshown {
  display: block;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#oes-me-container #oes-me-canvas,
#oes-me-container #oes-me-canvas.noani {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  transition-property: opacity;
  transition-duration: 1s !important;
  transition-timing-function: ease-in-out;
}
#oes-me-container h2 span:hover, #oes-me-container h2 a:hover {
  text-decoration: none;
  color: #eee;
  background-color: #555;
}
#oes-me-container h2 span, #oes-me-container h2 a {
  text-decoration: none;
  color: #fff;
  line-height: 2.5em;
  cursor: pointer;
  margin-left: -0.25em;
  margin-right: 0.5em;
  padding: 0em 0.25em 0.1em 0.25em;
  border-radius: 1em;
  background-color: #999;
}
#oes-me-container .mn_context h2 span.start {
  opacity: 1 !important;
}
#oes-me-container .mn_context h2 span.end, #oes-me-container .mn_network h2 span.end {
  opacity: 0;
  z-index: 0;
}
#oes-me-container .mn_context h2 span.start:after {
  content: " …";
  font-size: 0.8em;
}
#oes-me-container #oes-me-center, #oes-me-container .bg {
  opacity: 0;
  position: absolute;
  transition-property: opacity !important;
  transition-duration: 0s !important;
  transition-timing-function: ease-in-out;
}
#oes-me-container #oes-me-center {
  text-align: center;
  opacity: 0;
  transition-property: opacity !important;
  transition-duration: 0.5s !important;
  z-index: 9;
}
#oes-me-container #oes-me-center h1,
#oes-me-container #oes-me-center p {
  transition-duration: 0s;
  position: relative;
}
#oes-me-container #oes-me-center h1 {
  cursor: default;
  font-size: 1.5em;
}
#oes-me-container #oes-me-center.active .bg {
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
}
#oes-me-container #oes-me-center.active {
  opacity: 1;
}
#oes-me-container #oes-me-center.active * {
  opacity: 1;
}
#oes-me-container .oes-me div h2.close {
  position: absolute;
  right: 25px;
  text-align: center;
  opacity: 1 !important;
  color: #999;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  font-size: 1.75em;
  padding: 0;
  margin: -25px -25px 0 0;
  transition-duration: 0s;
}
#oes-me-container .oes-me div h2.close:hover {
  color: #000;
  cursor: pointer;
  opacity: 1 !important;
}
#oes-me-container #oes-me-legend {
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 20;
}
#oes-me-container #oes-me-legend li {
  cursor: pointer;
}
#oes-me-container #oes-me-legend li a {
  color: inherit;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#oes-me-container #oes-me-legend li.filtered span {
  opacity: 0;
}
#oes-me-container #oes-me-legend li.filtered a {
  color: #aaa;
}
#oes-me-container #oes-me-legend li:hover a,
#oes-me-container #oes-me-legend li.filtered a {
  text-decoration: line-through;
}
#oes-me-container #oes-me-legend li.filtered:hover a {
  text-decoration: none;
}
#oes-me-container header {
  padding-top: 0 !important;
}

.oes-me-page header {
  z-index: 20;
}

/*# sourceMappingURL=me.css.map */
